<!DOCTYPE html>
<html>
  <head>
    <title>Help | for panzies who can't figure shit out</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help at <a href="http://lmgtfy.com">let-me-google-that-for-you.com</a>.
    </p>
  </body>
</html>
