<footer class="footer">
  <small>
    The <a href="http://www.wtf.org/">wtf.org</a>
    by <a href="http://www.jamesbond.com/">James Bond</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://reddit.com/r/news/">News</a></li>
    </ul>
  </nav>
</footer>